#cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    width: 80%;
    max-width: 800px;
    height: 400px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    border: 10px solid #e3e3e3;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    user-select: none; 
    -webkit-user-select: none;
    border-radius: 5px;
}

.hidden {
    display: none;
}

body{
    background-color: #4eb7e3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh; 
}

.button{
    width: 300px;
    height: 80px;
    font-size: 28px;
    margin: 10px;
}

#createInstanceButton{
    width: 300px;
    height: 80px;
    font-size: 28px;
    margin-bottom: 150px;
}
